Repository modulify/conventional: changes, and which Codecov flags are due for each by the changed paths.
All: conventional-git, conventional-bump, conventional-changelog

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
    patch:
      default:
        target: 80%

flags:
  conventional-git:
    paths:
      - packages/conventional-git/src/
  conventional-bump:
    paths:
      - packages/conventional-bump/src/
  conventional-changelog:
    paths:
      - packages/conventional-changelog/src/

test(@modulify/conventional-bump): strict & preMajor modes
  packages/conventional-bump/tests/index.test.ts
Due: none

test(@modulify/conventional-changelog): Edge cases
  packages/conventional-changelog/src/write.ts
  packages/conventional-changelog/tests/render.test.ts
  packages/conventional-changelog/tests/write.test.ts
Due: conventional-changelog

test(@modulify/conventional-git): URL's of remotes, edge cases
  packages/conventional-git/tests/Client.test.ts
  packages/conventional-git/tests/parse.test.ts
Due: none

refactor(@modulify/conventional-changelog): Unified output mechanism
  packages/conventional-changelog/src/index.ts
  packages/conventional-changelog/src/output.ts
  packages/conventional-changelog/src/write.ts
  packages/conventional-changelog/tests/write.test.ts
Due: conventional-changelog

feat(@modulify/conventional-bump): Added method for version generation to ReleaseAdvisor
  packages/conventional-bump/package.json
  packages/conventional-bump/src/index.ts
  yarn.lock
Due: conventional-bump

chore: Replaced VersionGenerator with ReleaseAdvisor from conventional-bump
  scripts/lib/VersionGenerator.ts
  scripts/release.ts
Due: none

chore: Yarn updated to v4.12
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.dist.yml
  package.json
Due: none

test(@modulify/conventional-bump): Generation of next version
  packages/conventional-bump/src/index.ts
  packages/conventional-bump/tests/index.test.ts
Due: conventional-bump

test(@modulify/conventional-changelog): Custom section template
  packages/conventional-changelog/tests/render.test.ts
Due: none

docs: Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

docs: md files translations & links
  CODE_OF_CONDUCT.md
  README.md
  docs/INDEX.md
  docs/ru/CODE_OF_CONDUCT.md
  docs/ru/README.md
Due: none

docs: Agent instructions were adapted for current repository
  AGENTS.md
  skills/commit-workflow/SKILL.md
  skills/yarn-lock-conflict-resolution/SKILL.md
Due: none

build: Commitlint and husky were configured
  .github/workflows/tests.yml
  .husky/commit-msg
  commitlint.config.cjs
  package.json
  yarn.lock
Due: none

build: Eslint run was fixed for workspaces
  eslint.config.js
  package.json
Due: none

build: Peer requirement checks were added
  .github/workflows/tests.yml
  .yarnrc.dist.yml
  Makefile
  package.json
  packages/conventional-bump/package.json
  packages/conventional-changelog/package.json
  packages/conventional-git/package.json
  scripts/check-peers.sh
Due: none

chore: Updated yarn.lock
  yarn.lock
Due: none

chore(release): Dry release flow was added
  .github/workflows/release-dry.yml
  package.json
  scripts/release.ts
Due: none

ci(release): Manual release and npm publish flow was added
  .github/workflows/release.yml
Due: none

ci(release): Test runs were moved to reusable action
  .github/actions/run-tests/action.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

docs: Bug issue templates were added
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

ci(release): Test matrix and triggers were optimized
  .github/workflows/tests.yml
Due: none

ci(release): Package build was added before publish
  .github/workflows/release.yml
Due: none

ci(release): Workspace setup was extracted to reusable action
  .github/actions/run-tests/action.yml
  .github/actions/setup-workspace/action.yml
  .github/workflows/release-dry.yml
  .github/workflows/tests.yml
Due: none

fix(conventional-changelog): Template path handling was corrected
  packages/conventional-changelog/src/render.ts
  packages/conventional-changelog/tests/output.test.ts
  packages/conventional-changelog/tests/render.test.ts
  packages/conventional-changelog/tests/write.test.ts
Due: conventional-changelog

test(conventional-bump): Release advisor coverage was expanded
  packages/conventional-bump/tests/index.test.ts
Due: none

test(conventional-git): Parser coverage was expanded
  packages/conventional-git/tests/parse.test.ts
Due: none

refactor(conventional-git): Parser fallback branches were simplified
  packages/conventional-git/src/parse.ts
  packages/conventional-git/tests/parse.test.ts
Due: conventional-git

feat(conventional-changelog): Render middleware usage was improved
  packages/conventional-changelog/README.md
  packages/conventional-changelog/src/render.ts
  packages/conventional-changelog/tests/render.test.ts
  packages/conventional-changelog/tests/write.test.ts
Due: conventional-changelog

refactor(conventional-changelog): Render helper fallbacks were removed
  packages/conventional-changelog/src/render.ts
Due: conventional-changelog

refactor(conventional-bump): Release priority logic was simplified
  packages/conventional-bump/src/index.ts
Due: conventional-bump

ci: Workspace typecheck checks were added
  .github/workflows/tests.yml
  Makefile
  package.json
  packages/conventional-bump/package.json
  packages/conventional-changelog/package.json
  packages/conventional-git/package.json
Due: none

test(conventional-bump): Typecheck compatibility in tests was improved
  packages/conventional-bump/tests/index.test.ts
Due: none

test(conventional-changelog): Typecheck compatibility in tests was improved
  packages/conventional-changelog/tests/render.test.ts
  packages/conventional-changelog/tests/write.test.ts
Due: none

chore(conventional-bump): Vite and Vitest cache paths were moved to artifacts
  packages/conventional-bump/vite.config.common.ts
  packages/conventional-bump/vitest.config.ts
Due: none

chore(conventional-changelog): Vite and Vitest cache paths were moved to artifacts
  packages/conventional-changelog/vite.config.common.ts
  packages/conventional-changelog/vitest.config.ts
Due: none

chore(conventional-git): Vite and Vitest cache paths were moved to artifacts
  packages/conventional-git/vite.config.common.ts
  packages/conventional-git/vitest.config.ts
Due: none

chore: Root cache artifacts configuration was updated
  .gitignore
  vitest.config.ts
Due: none

docs: Manual commit scope guidance was clarified
  skills/commit-workflow/SKILL.md
Due: none

refactor(conventional-git): Parser hooks and commit typing were redesigned
  packages/conventional-git/README.md
  packages/conventional-git/src/Client.ts
  packages/conventional-git/src/index.ts
  packages/conventional-git/src/parse.ts
  packages/conventional-git/tests/parse.test.ts
  packages/conventional-git/types/commit.d.ts
  packages/conventional-git/types/parse.d.ts
Due: conventional-git
